h1 {
    background-color: #005F73;
    color: white;
    text-align: center;
    border-style: dashed;
    padding: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

body {
    background-color: #E9D8A6;
}